// variables
@import '../../style/variables.scss';

//mixins
@import '../../style/mixins.scss';




// //BG
// .product-bg {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height:100vh;
//     width: 100%;
//     overflow: hidden;
//     z-index: -1;
//   }
  
// .product-img{
//     width: 100%;
//   }

.product-container{
  margin-top: 5rem;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto;
grid-gap: 2rem;
span {
  padding: 0.7rem;
}
  }


//info-card

.product-card{
  width: 100%;
  height: fit-content;
  background-color: $accentColorOrange;
  display: flex;
  flex-direction: column;
 
}
.product-card-title{
  @extend %fontH4;
}

.product-info-1, .product-care{
display: flex;
flex-direction: row;
}

.product-info{
display: flex;
flex-direction: column;
}

.product-info, .product-care {
  @extend %fontH4;
}

.info-box{
  display: flex;
  flex-direction: column;
  border: 1px solid $mainBgColor;
  width: 100%;
  span:first-child{
    color: $accentColorPink;
    padding-bottom: 0rem;
  }
}

.product-info-1,
.product-info-1 >:nth-child(1n),
.product-info-1 >:nth-child(2n)
{
  border-bottom: 0rem;
}

.product-info >:first-child,
.product-care >:first-child {
  border-right: 0rem;
}

.product-info-1 >:nth-child(2n){
  border-left: 0rem;
}

.product-price{
  background-color: black;
  color: red;
  @extend %fontH2;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 36em) {
  .product-container{
    grid-template-columns: 1fr 1fr;
  }
  .product-extra-img{
  max-height: 25rem;
  width: auto;
  }
  .product-card{
    max-width: 18rem;
  }
  .product-bg {
    height: 40rem;
  }
}


 // Medium devices (tablets, 768px and up)
 @media (min-width: 48em) { 
  .product-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
.product-extra-img{
  max-height: 25rem;
  width: auto;
}
 }
