
%fontH1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2rem;
    padding: 0.5rem;
    }
    %fontH2{
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.1rem;
      padding: 0.5rem;
    }
    
    %fontH3{
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.1rem;
      padding: 0.5rem;
    }
    %fontH4{
      font-size: 0.6rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.2rem;
      padding: 0.5rem;
    }
    
    %fontH5{
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0.5rem;
    }