// variables
$mainBgColor: #FBE9E7;
$mainColorDarker: #FFCCBC;
$secondColor:#E0F7FA;
$secondColorDarker: #B2EBF2;
$accentColorPink: #ffc7c7;
$accentColorOrange: #FF5722;
$accentColorRed: #F44336;
$accentColorMarine: #00BCD4;
$lineSeparatorColor: #BCAAA4;

$mainShadow: 3px 3px 3px 1px rgba(0,0,0,0.6);
$mainTransition: all 2s;